@using Microsoft.AspNetCore.Identity
@using DoAnCoSo.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Account" asp-action="Index" title="Manage">Xin chào @(currentUser?.FullName ?? User.Identity?.Name)!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Customer" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Account" asp-action="Register">Đăng ký</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Account" asp-action="Login">Đăng nhập</a>
    </li>
}
</ul>
